<body class="text-center">

  <main class="form-signin">
    <form [formGroup]="RegisterAddGroup">
      <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>


      <div class="form-floating">
        <label for="floatingInput">İsminiz</label>
        <input formControlName='firstName' type="firstName" class="form-control" id="floatingInput"
          placeholder="İsminiz">
      </div>
      <div class="form-floating">
        <label for="floatingInput">Soyİsminiz</label>
        <input formControlName='lastName' type="lastName" class="form-control" id="floatingInput"
          placeholder="Soyİsminiz">
      </div>


      <div class="form-floating">
        <label for="floatingInput">E-posta</label>
        <input formControlName='email' type="email" class="form-control" id="floatingInput" placeholder="@gmail.com">
      </div>

      <div class="form-floating">
        <label for="floatingPassword">Parola</label>
        <input formControlName='password' type="password" class="form-control" id="floatingPassword"
          placeholder="Parola">

      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Beni Hatırla
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="add()">Giriş</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
</body>