<table class="table table-sm table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ARAÇ NUMARASI</th>
      <th scope="col">ARAÇ LİNKİ</th>
      <th scope="col">TARİH</th>
      
    </tr>
  </thead>
  <tr *ngFor="let details of carImages">
    <td>{{ details.id }}</td>
    <td>{{ details.carId }}</td>
    <td>{{ details.imagePath }}</td>
    <td>{{ details.date }}</td>
    
  </tr>
</table>




<div class="carousel-inner">
  <div *ngFor="let carImage of carImages" >
     <img src = "https://localhost:5001/{{  carImage.imagePath }}" class="d-block w-100">
  </div>
</div>