<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">..</span>
</div>
<table *ngIf="dataLoaded==true" class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand ID</th>
            <th>Color Id</th>
            <th>Model Yılı</th>
            <th>Ücret</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tr routerLink="/car/carDetails/{{car.id}}" *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
    </tr>
</table>