<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden"></span>
  </div>

<table *ngIf="dataLoaded==true" class="table table-sm table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">MARKA ADI</th>
            
        </tr>
    </thead>
    <tr *ngFor="let brands of brand">
          <td>{{brands.brandId}}</td>
          <td>{{brands.brandName}}</td>
         
    </tr>
</table>