<div class="container">    
    <app-navi></app-navi>
    <div class="row">
      
      <div class="col-md-3">
        <app-brand></app-brand>
      </div>

      <div class="col -md-9">
        <app-customer></app-customer>
         
      </div>

        
    </div>

    <div class="row">
      <div class="col -md-12">
        <app-colors></app-colors>
        </div>
    </div>
    
    <div class="row">
      <div class="col -md-12">
        <app-car-details></app-car-details>
        </div>
    </div>

    <div class="row">
      <div class="col -md-12">
        <app-rentalsdetails></app-rentalsdetails>
        </div>
    </div>
                
    <router-outlet></router-outlet>
</div>
 


    



